body {
    margin: auto;
    font-family: Arial, sans-serif;
    background-size: 100% 100%;
background-position: 0px 0px;
background-image: linear-gradient(65deg, #C51111FF 0%, #71C4FFFF 100%);
}
  section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 80PX;
    row-gap: 20px;
  }

  h1 {
    justify-self: center;
    margin-top: 35px;
  }

  section{
    justify-self: center;
    margin-top: 50px;
  }
  article {
    width: 225px;
    height:82px;
    background-color: #d84315;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 1;
  }
  
  article .initial {
    font-size: 1.5em;
  }
  
  article .full-name {
    position: absolute;
    opacity: 0;
    text-align: center;
    padding:10px;
    font-size: 1em;
  }
  
  article:hover .initial {
    opacity: 0;
  }
  
  article:hover .full-name {
    opacity: 1;
  }
    